doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title cookie and session
        link(href="/src/style.css" rel="stylesheet")
    body
        h1 #{h1}
        a(href='file.xlsx' download) download file;
        form#uploadForm
            input(type="file")
            button(type="submit") 提交

        script(src="/src/browser.js")
